<section>
    <header>
        <span>Produtos:</span>
    </header>

    <main>
        <nav class="toolbar">
            <button><img src="../../assets/add.svg" alt="img-add.svg">
                Incluir</button>
            <button><img src="../../assets/edit.svg" alt="img-edit.svg">
                Alterar</button>
            <button><img src="../../assets/delete.svg" alt="img-delete.svg">
                Excluir</button>
            <button><img src="../../assets/consult.svg" alt="img-consult.svg">
                Consultar</button>
        </nav>
        <div>
            <img src="../../assets/lupa.svg" alt="img-search.svg">
            <input id="search" type="text">
            <button>Procurar</button>
            <button>Filtrar</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Código:</th>
                    <th>Produto:</th>
                    <th>Marca:</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </main>

</section>