<section>
    <div class="title">
        <span>Modo: {{mode}}</span>
    </div>

    <div class="dataBox">
        <label for="codigo">Código:</label>
        <input type="text" id="codigo">

        <label for="medida">Medida:</label>
        <input type="text" id="medida">
        <br><br>
        <label for="produto">Produto:</label>
        <input type="text" id="produto">
        <br><br>
        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao"></textarea>

        <div class="buttons">
            
            <button (click)="salvar()">SALVAR</button>
            <button>SALVAR +</button>
            <button (click)="closeScreen()">CANCELAR</button>
            
        </div>
    </div>
</section>