<header>

  <h1 class="mainTitle">SISTEMA DE TESTE</h1>

  <div>
    <button>
      <img src="../assets/icon_logout.svg" alt="icon_logout.svg">
      <br>Sair
    </button>

    <span class="infoLogin-title">{{client}}</span>
    <br>
    <span>Usuário: {{user}}</span>
    <span>Versão: {{version}}</span>
  </div>

</header>

<nav>

  <button #btn01 value="menuCadastro" (click)="showMenu(btn01.value)">CADASTRO</button>
  <div id="menuCadastro" class="downList">
    <button>Itens</button>
    <button>Contratos</button>
    <button>Secretarias</button>
  </div>

  <button #btn02 value="menuMovimentacao" (click)="showMenu(btn02.value)">MOVIMENTAÇÃO</button>
  <div id="menuMovimentacao" class="downList">
    <button >Novo Pedido</button>
    <button>Novo Consumo</button>
    <button>Novo </button>
  </div>

</nav>

<section>
  <img src="../assets/fator.png" alt="img-fator.png">
  <app-itens class="teste"></app-itens>
</section>