header {
    height: 10vh;
    margin-top: -8px;
    display: flex;
    justify-content: space-between;

    & .mainTitle {
        margin-top: 0rem;
        margin-left: 1rem;
        font-family: 'Roboto';
    }

    & div {
        width: 50%;
        text-align: right;

        & span {
            margin-right: 1rem;
            font-family: 'Calibri';
        }

        & .infoLogin-title {
            font-weight: bold;
            font-size: 1.2rem;
        }

        & button {
            margin-right: 1rem;
            float: right;
            cursor: pointer;

            font-family: 'Calibri';
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
}

nav {
    width: 20%;
    height: 90vh;
    float: left;
    
    button {
        width: 100%;
        font-family: 'Calibri';
        font-size: 0.85rem;
        font-weight: bold;
        text-align: left;
        padding-left: 1rem;
        cursor: pointer;
    }

    .downList {
        display: none;

        button{
            padding-left: 2rem;
            font-weight: normal;
        }
    }
}

section img{
    float: right;
    height: 90vh;
}

.show {
    display: block !important;
}