<section class="componente">
    <header>

        <div class="titulo-componente" (pointerdown)="moverComponente()">
            <span>Fornecedores:</span>
        </div>

        <nav>
            <div id="salvar-cancelar" hidden>
                <span>Modo:<br>{{modo}}</span>
                <button id="salvar" (click)="salvarRegistro()">
                    <img src="../../../assets/save.svg" alt="img-save.svg">
                    Salvar</button>
                <button id="cancelar" (click)="alternarTelas('')">
                    <img src="../../../assets/cancel.svg" alt="img-cancel.svg">
                    Cancelar</button>
            </div>

            <div class="ferramentas">
                <button (click)="alternarTelas('Incluindo')">
                    <img src="../../assets/add.svg" alt="img-add.svg">
                    Incluir</button>

                <button (click)="alternarTelas('Alterando')">
                    <img src="../../assets/edit.svg" alt="img-edit.svg">
                    Alterar</button>

                <button>
                    <img src="../../assets/delete.svg" alt="img-delete.svg">
                    Excluir</button>
                    
                <button (click)="alternarTelas('Consultando')">
                    <img src="../../assets/consult.svg" alt="img-consult.svg">
                    Consultar</button>
            </div>
        </nav>
    </header>

    <main id="GRID">

        <div class="GRID">

            <div class="pesquisa">
                <img src="../../assets/lupa.svg" alt="img-search.svg">
                <input type="text" id="pesquisa">
                <button (click)="dadosGrid()">Procurar</button>
                <span>|</span>
                <button>Filtrar</button>
            </div>
            
            <table class="tabela">
                <thead>
                    <tr>
                        <th class="codigo">Codigo:</th>
                        <th class="nome">Fornecedor:</th>
                        <th class="cnpj">CNPJ:</th>
                    </tr>
                </thead>
                
                <tbody [innerHTML]="innerGrid" id="bodyTable"></tbody>
            </table>
        </div>
    </main>
        
    <main id="detalhamento" hidden>
        <div class="detalhamento">
            <div class="dados-componente">

                <label for="codigo">Código:</label>
                <input type="number" id="codigo">

                <label for="nome">Fornecedor:</label>
                <input type="text" id="nome">
                <br>
                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" (focus)="mascaraCNPJ( )" maxlength="18">

                <label for="responsavel">Responsável:</label>
                <input type="text" id="responsavel">

                <label for="contato" >Contato:</label>
                <input type="text" id="contato" (focus)="mascaraContato( )" maxlength="13">
                <br>
                <label for="agencia">Agência:</label>
                <input type="number" id="agencia">

                <label for="conta">Conta:</label>
                <input type="number" id="conta">
                
                <label for="pix">PIX:</label>
                <input type="text" id="pix">
                <br>
                <label for="uf">UF:</label>
                <select id="uf">
                    <option hidden></option>
                    <option value="BA">BA</option>
                    <option value="SP">SP</option>
                </select>
                
                <label for="bairro">Bairro:</label>
                <input type="text" id="bairro">
                
                <label for="cidade">Cidade:</label>
                <input type="text" id="cidade">
                <br>
                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco">

                <label for="complemento">Comp.:</label>
                <input type="text" id="complemento">
                <br>
                <label for="descricao">Histórico:</label><br>
                <textarea id="descricao"></textarea>
                <br><br>
                <span class="mensagem">{{mensagem}}</span>
            </div>
        </div>
    </main>
</section>