<section>

    <h2 class="itensTitle">ITENS</h2>

    <nav class="toolBar">

        <div class="detailMode">
            <button>Salvar</button>
            <button>Cancelar</button>
        </div>

        <div class="CRUD">
            <button (click)="cadastrar()">Cadastrar</button>
            <button>Alterar</button>
            <button>Consultar</button>
            <button>Apagar</button>
        </div>

    </nav>

    <div class="bodyMain">

        <input type="text" placeholder="Pesquisar...">
        <button>Pesquisar</button>
        <button>Filtrar</button>

        <table class="dataTable">

            <thead>
                <tr>
                    <th class="itemCode">Código</th>
                    <th class="itemName">Nome do Item</th>
                    <th class="itemMeasure">Medida</th>
                </tr>
            </thead>

            <tbody id="dataTable"></tbody>
        </table>
    </div>

    <div class="detalhesItem">

        <label for="codigo">Código:</label>
        <input id="codigo" type="text" />

        <label for="medida">Medida:</label>
        <input id="medida" type="text" /><br><br>

        <label for="nome">Nome:</label>
        <input id="nome" type="text" /><br><br>

        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao"></textarea>

    </div>
</section>