<section>

    <h2 class="itensTitle">ITENS</h2>

    <nav class="toolBar">

        <div class="detailMode">
            <button>Salvar</button>
            <button>Cancelar</button>
        </div>

        <div class="CRUD">
            <button>Cadastrar</button>
            <button>Alterar</button>
            <button>Consultar</button>
            <button>Apagar</button>
        </div>

    </nav>

    <div class="bodyMain">

        <input type="text" placeholder="Pesquisar...">
        <button>Pesquisar</button>
        <button>Filtrar</button>

        <table class="dataTable">

            <thead>
                <tr>
                    <th class="itemCode">Código</th>
                    <th class="itemName">Nome do Item</th>
                    <th class="itemMeasure">Medida</th>
                </tr>
            </thead>

            <tbody id="dataTable">
                <tr>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>