<section>
    <header>

        <div class="title-component">
            <span>Produtos:</span>
        </div>

        <nav class="toolbar">
            <button (click)="openDetail()"><img src="../../assets/add.svg" alt="img-add.svg">
                Incluir</button>
            <button><img src="../../assets/edit.svg" alt="img-edit.svg">
                Alterar</button>
            <button><img src="../../assets/delete.svg" alt="img-delete.svg">
                Excluir</button>
            <button><img src="../../assets/consult.svg" alt="img-consult.svg">
                Consultar</button>
        </nav>
    </header>

    <main class="grid-table">

        <div class="search">
            <img src="../../assets/lupa.svg" alt="img-search.svg">
            <input type="text" id="search">
            <button>Procurar</button>
            <span>|</span>
            <button>Filtrar</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th class="codigo">Código:</th>
                    <th class="produto">Produto:</th>
                    <th class="medida">Medida:</th>
                </tr>
            </thead>

            <tbody [innerHTML]="inner" id="bodyTable"></tbody>
        </table>
    </main>

    <main class="detail-record"  style="display: none;">

        <div class="data-record">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo">

            <label for="nome">Produto:</label>
            <input type="text" id="nome">
            <br>
            <label for="Marca">Marca:</label>
            <input type="text" id="marca">

            <label for="medida">Medida:</label>
            <input type="text" id="medida">
            <br>
            <label for="categorias">Categoria:</label>
            <select #sel01 (focus)="lookup(sel01.id)" id="categorias">
                <option hidden></option>
            </select>
        </div>
    </main>
</section>