<section>
    <header>
        <span>Produtos:</span>
    </header>

    <main>
        <nav>
            <button>Incluir</button>
            <button>Alterar</button>
            <button>Excluir</button>
            <button>Consultar</button>
        </nav>
        <div>
            <input type="text">
            <button>Procurar</button>
            <button>Filtrar</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Código:</th>
                    <th>Produto:</th>
                    <th>Marca:</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </main>

</section>