<section>
    <header>

        <div class="title-component">
            <span>Produtos:</span>
        </div>

        <nav class="toolbar">
            <div class="crud">
                <button (click)="openDetail()"><img src="../../assets/add.svg" alt="img-add.svg">
                    Incluir</button>
                <button><img src="../../assets/edit.svg" alt="img-edit.svg">
                    Alterar</button>
                <button><img src="../../assets/delete.svg" alt="img-delete.svg">
                    Excluir</button>
                <button><img src="../../assets/consult.svg" alt="img-consult.svg">
                    Consultar</button>
            </div>
            <div class="save">
                
            </div>
        </nav>
    </header>

    <main class="grid-table">

        <div class="search">
            <img src="../../assets/lupa.svg" alt="img-search.svg">
            <input type="text" id="search">
            <button>Procurar</button>
            <span>|</span>
            <button>Filtrar</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th class="codigo">Código:</th>
                    <th class="produto">Produto:</th>
                    <th class="medida">Medida:</th>
                </tr>
            </thead>

            <tbody [innerHTML]="inner" id="bodyTable"></tbody>
        </table>
    </main>

    <main class="detail-record"  style="display: none;">

        <div class="data-record">
            <label for="codigo">Código:</label>
            <input maxlength="3" type="text" id="codigo">

            <label for="nome">Produto:</label>
            <input maxlength="25" type="text" id="nome">
            
            <label for="medida">Medida:</label>
            <input maxlength="15" type="text" id="medida">

            <br>
            
            <label for="Marca">Marca:</label>
            <input maxlength="25" type="text" id="marca">
            
            <label for="categorias">Categoria:</label>
            <select #sel01 (focus)="lookup(sel01.id)" id="categorias">
                <option hidden></option>
            </select>

            <label for="localizacao">Armaz.:</label>
            <select id="localizacao">
                <option hidden></option>
                <option value="Praletelira">Prateleira</option>
                <option value="Refrigerador">Refrigerador</option>
                <option value="Palete">Palete</option>
            </select>

            <label for="centro_custo">Centro C.:</label>
            <select #sel02 id="centro_custo" (focus)="lookup(sel02.id)">
                <option hidden></option>
            </select>

            <label for="almoxarifado">Almoxarifado:</label>
            <select #sel03 id="almoxarifado" (focus)="lookup(sel03.id)">
                <option hidden></option>
            </select>
            
            <br>
            
            <label for="descricao">Descrição:</label>
            <br>
            <textarea maxlength="255" rows="3" id="descricao"></textarea>
        </div>
    </main>
</section>