section {
    margin-top: 3rem;
    margin-left: 20rem;
    width: 45rem;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
}

header {

    & .title-component{
        font: bold 1rem 'Calibri';
        background-color: lightgray;
        padding: .25rem .75rem;
    }

    & .toolbar {
        width: 100%;
        background-color: #DDE6EA;
        box-shadow: inset 0px 6px 3px -3px rgba(0, 0, 0, 0.5);

        & span {
            display: inline-block;
            font: bold 1rem 'Calibri';
        }

        & button{
            margin: .5rem 0rem 0.5rem .5rem;
            width: 4.5rem;
            height: 3rem;
            
            font: normal .8rem 'Calibri';
            border-radius: 5px;
            border: 1px solid gray;
            
            box-shadow: 2px 2px 3px -2px ;
            background: linear-gradient(to top, lightgray, white);
        }
    
        & button:hover {
            cursor: pointer;
            filter: brightness(0.9);
        }

        & button:disabled {
            cursor: inherit;
            filter: none;
            img {opacity: .5;}
        }

        .save {
            float: right;
            margin-right: .5rem;
        }
    }
}

.grid-table {
    display: inline-block;
    width: 100%;
    height: 22.75rem;
    background-color: rgb(235, 235, 235);

    & .search {
        display: flex;
        margin: .5rem;

        & input {
            width: 30rem;
            height: 1.5rem;
            margin: 0rem .5rem 0rem .5rem;

            outline: none;
            border: 1px solid gray;
            padding-left: .5rem;
        }

        & input:focus {
            border: 1px solid cornflowerblue;
        }

        & button {
            width: 5rem;
            margin: 0rem .25rem 0rem .25rem;

            border: 1px solid gray;
            border-radius: 5px;
            background: linear-gradient(to top, lightgray, white);
        }

        & button:hover {
            cursor: pointer;
            filter: brightness(0.9);
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;

    & td, th {
        border: .5px solid lightgray;
        text-align: left;
        padding-left: 0.25rem;
    }

    & th {
        font: normal 0.9rem 'Calibri';
        height: 1.5rem;
        background: linear-gradient(to top, lightgray, white);
    }

    & .codigo { width: 5rem; }
    & .produto { width: 22.5rem; }
    & .medida { width: 7.5rem; }
}

:host ::ng-deep td {
    height: 1.5rem;
    padding-left: 0.5rem;
    font: normal 1rem 'Calibri';
    border: 0.1px solid lightgray;
    cursor: inherit;
}

:host ::ng-deep tbody tr:nth-child(odd) {
    background-color: #EFF3FA;
}

:host ::ng-deep .focus {
    background-color: #A8C6EE !important;
    border: 1px solid cornflowerblue !important; 
    
}

.detail-record {
    display: flex;
    height: 22.75rem;
    background-color: #DDE6EA;

    & .data-record {
        width: 100%;
        margin: 1rem;
        display: flexbox;
        background-color: #D0DDE4;
        border: 1px solid gray;
    }

    & label {
        display: inline-flex;
        vertical-align: middle;
        width: 5rem; height: 22px;
        margin: .5rem 0rem 0rem .5rem;

        font: normal 1rem 'Calibri';
        padding-left: .5rem;
        background-color: #B7C7D0;
    }

    & input {
        display: inline-flex;
        vertical-align: middle;
        margin: .5rem 0rem 0rem 0rem;
        height: 18px;

        border: 1px solid lightgray;
        font: normal .85rem 'Calibri';
        outline: none;
    }

    & input::-webkit-inner-spin-button { 
        -webkit-appearance: none;
    }

    & select{
        display: inline-flex;
        vertical-align: middle;
        margin: .5rem 0rem 0rem 0rem;
        height: 22px;

        font: normal .85rem 'Calibri';
        border: 1px solid gray;
        outline: none;
        box-sizing: border-box;
    }

    & textarea {
        display: inline-flex;
        vertical-align: middle;
        margin: 0rem .5rem 0rem .5rem;
        width: 97.5%;

        font: normal .85rem 'Calibri';
        border: 1px solid gray;
        outline: none;
        box-sizing: border-box;
        resize: none;
    }

    & input:focus, select:focus, textarea:focus{
        border: 1px solid cornflowerblue;
    }

    & input:disabled, select:disabled, textarea:disabled {
        background-color:lightyellow;
        color: black;
    }

    & .mensagem {
        margin: 0rem .5rem 0rem .5rem;
        font: normal .85rem 'Calibri';
        color: red;
        
    }

    /*Linha 01*/
    & #codigo { width: 3rem; }
    & #nome { width: 12rem; }
    & #medida { width: 8rem;}

    /*Linha 02*/
    & #marca { width: 8rem; }
    & #categoria { width: 10rem;}
    & #localizacao { width: auto;}

    /*Linha 03*/
    & label[for='almoxarifado'] { width: 6rem;}
    & #centro_custo { width: 10rem; }
    & #almoxarifado { width: 10rem; }
}