:host ::ng-deep td {
    height: 1.3rem;
    padding-left: 0.5rem;
    font: normal 1rem 'Calibri';
    border: 0.1px solid lightgray;
    cursor: inherit;
    
}

:host ::ng-deep tbody tr:nth-child(odd) {
    background-color: #EFF3FA;
}

:host ::ng-deep .focus {
    background-color: #A8C6EE !important;
    border: 1px solid cornflowerblue !important;  
}

:host ::ng-deep .codigo { width: 5rem; }
:host ::ng-deep .nome { width: 30.5rem; }
:host ::ng-deep .medida { width: 8rem; }

/* Colunas da Grid */
.codigo { width: 5rem; }
.produto { width: 30.5rem; }
.medida { width: 8rem; }

/*Linha 01*/
#codigo { width: 3rem; }
#nome { width: 12rem; }
#medida { width: 8rem;}

/*Linha 02*/
#marca { width: 8rem; }
#categoria { width: 10rem;}
#localizacao { width: auto;}

/*Linha 03*/
label[for='almoxarifado'] { width: 6rem;}
#centro_custo { width: 10rem; }
#almoxarifado { width: 10rem; }