<section>
    <header>
        <div class="titulo">
            <img src="../../assets/Logo.png" alt="img-logo">
            <h1>SISTEMA DE COMPRAS E ALMOXARIFADO</h1>
        </div>
        

        <div class="entidade">
            <button><img src="../../assets/power.svg" alt="img-logout"><br>Sair</button>
            
            <h3>{{cliente.entidade}}</h3>
            <span>Usuário: {{cliente.usuario}} | Versão: {{cliente.versao}}</span>
            <span></span>
        </div>
    </header>

    <main>
        <div class="login">
            <div class="cabecalho">
                <span>Login</span>
            </div>

            <div class="loginbox">
                <img src="../../assets/login.svg" alt="img-padlock">
                <label>Usuário:</label>
                <input type="text">
                <br><br>
                <label>Senha:</label>
                <input type="password">
                <br><br>
                <button><img src="../../assets/check.svg" alt="img-check">Login</button>
            </div>
        </div>
    </main>

    <footer>
        <img src="../../assets/copyright.svg" alt="img-copyright">
        <span>Todos os direitos reservados | Fator Sistemas & Consultorias</span>
    </footer>
</section>